@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

main{
    section.view1{
        width: 100%;
        padding: 4.5rem 1.5rem;
        @include flex-column();
        text-align: center;
        background: linear-gradient(to top right,#f8bbd0a8,transparent,#e7f8ff);
        .container{
            width: 100%;
            @include flex-column();
            justify-content: center;
            .top{
                @include flex-column(4.4rem);
                width: 100%;
    
                .image{
                    width: 100%;
                    img{
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        min-width: 15.6rem;
                        max-width: 37.5rem;
                    }
                }
                .text{
                    width: 100%;
                    padding: 0rem 2rem;
                    h1{
                        font-size: 2.8rem;
                    }
                }
    
            }
            
            .bottom{
                padding: 5rem 0rem;
                p{
                    font-size: 2.1rem;
                    line-height: 2.5rem;
                }
            }
        }

    }

    section.view2{
        width: 100%;
        padding: 4.5rem 1.5rem;
        .container{
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 3.5rem;

            .block{
                width: 100%;
                border-top: 4px solid rgba(0, 0, 0, 0.107);
                padding: 1.5rem 3.2rem 0rem 0rem;
                h3{
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem;
                }
                p{
                    opacity: 0.8;
                    font-size: 1.5rem;
                    margin-bottom: 4.4rem;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    min-width: 4rem;
                    max-width: 37.5rem;
                }
            }

        }
    }

    section.view3,.view5{
        width: 100%;
        padding: 4.5rem 1.5rem;
        @include flex-column();
        
        .container{
            display: grid;
            grid-template-rows: 1.5fr auto;
            .top{

                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    min-width: 11.5rem;
                    max-width: 37.5rem;
                }
            }

            .bottom{
                h4{
                    font-size: 1.2rem;
                    margin-bottom: 1.3rem;
                    opacity: 0.8;
                }
                h3{
                    font-size: 2.9rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    opacity: 0.8;
                    width: 90%;
                    margin-bottom: 1.5rem;
                }

                .navigate{
                    width: 100%;
                    
                }
            }
        }
    }

    section.view4,.view6{
        width: 100%;
        padding: 4.5rem 1.5rem;
        background: linear-gradient(to top right,rgba(255, 255, 0, 0.141),rgba(255, 255, 0, 0.086), transparent);
        @include flex-column();
        
        .container{
            display: grid;
            grid-template-rows: 1fr auto;
            .top{

                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    min-width: 11.5rem;
                    max-width: 37.5rem;
                }
            }

            .bottom{
                h4{
                    font-size: 1.2rem;
                    margin-bottom: 1.3rem;
                    opacity: 0.7;
                }
                h3{
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    opacity: 0.7;
                    width: 90%;
                    margin-bottom: 1.5rem;
                }

                .navigate{
                    width: 100%;
                    
                }
            }
        }
    }

    section.view7{
        width: 100%;
        @include flex-column();
        padding: 4.5rem 1.5rem;

        .container{
            width: 100%;
            display: grid;
            overflow: hidden;
            grid-template-columns: 1fr;
            background-color: #042449;
            border-radius: 40px;
            
            position: relative;
            .text{
                padding: 6rem 3.15rem;
                z-index: 2;
                color: white;
                @include flex-column();
                align-items: flex-start;

                h3{
                    font-size: 2.9rem;
                    margin-bottom: 1.5rem;
                }

                p{
                    font-size: 1.15rem;
                    margin-bottom: 2rem;
                    line-height: 1.3;
                }
            }
            .media{
                z-index: 1;

                img{
                    height: 100%;
                    position: absolute;
                    bottom: auto;
                    right: 0;
                    top: 0;
                    max-width: 100%;
                }
            }
        }
    }

}
.btn{
    width: fit-content;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    background-color: transparent;
    color: #0468D7;
    border: 1px solid #0468D7;
    border-radius: 50px;
    text-decoration: none;
    margin-bottom: 0.9rem;
    display: inline-block;
    transition: all ease 0.3s;
}

.btn.install-btn{
    background-color: white;
    color: #0468D7;
    border: none;
    padding: 0.7rem 2rem;
}

.btn.quiet.btn-white{
    color: white;
}

.btn.quiet{
    padding: 0.7rem 1.2rem;
    border: none;
    color: black;
}

.btn-blue{
    color: white;
    background-color: #0468D7;
}

.btn-transition:hover{
    background-color: #0468D7;
    color: white;
}


.container{
    max-width: 1250px;
}

@media (min-width: 490px){
    main{
        section.view1{
            padding: 1.3rem 2rem;
            .text{
                padding: 0rem 2.5rem;
            }
            .bottom p{
                margin-top: 1rem;
            }
        }

        section.view3,.view5{
            .container .bottom .navigate{
                flex-direction: row;
            }
        }

    }
}

@media(min-width: 1000px){
    main{
        section.view1{
            padding: 0rem 3.5rem;
            .container{
                .top{
                    flex-direction: row-reverse;
                    text-align: left;
                    justify-content: center;
                    gap: 0rem;
                    .text {
                        h1{
                            font-size: 4.4rem;
                
                       }
                    }
                }
                .bottom{
                    padding: 5rem 15%;
                
                }
            }
        }
        
        section.view2{
            padding: 4.5rem 2rem;
            .container{
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 1.5rem;
                justify-self: center;
                .block p{
                    font-size: 1.2rem;
                }
            }

        }

        section.view3,.view5{
            padding: 3rem 4rem;
            .container {
                grid-template-rows: none;
                grid-template-columns: 1.6fr 1fr;
                grid-template-areas: "bottom top";
                align-items: center;
            }
            .bottom{
                grid-area: bottom;
                padding: 0rem 8.5rem 0rem 3.2rem;
            }
            .top{
                grid-area: top;
                justify-self: center;
            }
            
        }

        section.view4,.view6{
            padding: 3rem 4.5rem;
            .container{
                grid-template-columns: 1fr 1.6fr;
                grid-template-rows: none;
                align-items: center;
                .bottom{
                    padding: 0rem 10rem 0rem 10rem;
                }
            }
        }
        
        section.view7{
            .container{
                grid-template-columns: 1fr minmax(0, 441px);
                min-height: 315px;

                .text{
                    padding: 4.375rem;
                }
            }
        }

    }
}
