@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

main{
    section.view1{
        width: 100%;
        padding: 1.5rem;
        @include flex-column();
        text-align: center;
        background: linear-gradient(to top right,#f8bbd0a8,transparent,#e7f8ff);
        .container{
            width: 100%;
            @include flex-column();
            justify-content: center;
            .top{
                @include flex-column(4.4rem);
                width: 100%;
    
                .image{
                    width: 100%;
                    img{
                        width: 100%;
                        min-width: 15.6rem;
                        max-width: 37.5rem;
                    }
                }
                .text{
                    width: 100%;
                    h1{
                        font-size: 2.8rem;
                    }
                }
    
            }
            
            .bottom{
                padding: 5rem 0rem;
                p{
                    font-size: 2.1rem;
                    line-height: 2.5rem;
                }
            }
        }

    }
}

.container{
    max-width: 1280px;
}

@media (min-width: 770px) and  (max-width: 1025px){
    main{
        section.view1{
            padding: 1.5rem 2rem;
            .text{
                padding: 0rem 13rem;
            }
            .bottom p{
                margin-top: 1rem;
            }
        }
        
    }
}

@media(min-width: 1025px){
    main{
        section.view1{
            padding: 3.5rem;
            .container{
                .top{
                flex-direction: row-reverse;
                text-align: left;
                .text {
                    padding-left: 3.1rem;
                    h1{
                        font-size: 4.5rem;
                
                    }
                }
            }
            
            .bottom{
                padding: 5rem 19%;
                
            }
        }

            
        }
    }
}
