* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

main section.view1 {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(to top right, rgba(248, 187, 208, 0.6588235294), transparent, #e7f8ff);
}
main section.view1 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
}
main section.view1 .container .top {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  align-items: center;
  width: 100%;
}
main section.view1 .container .top .image {
  width: 100%;
}
main section.view1 .container .top .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-width: 15.6rem;
  max-width: 37.5rem;
}
main section.view1 .container .top .text {
  width: 100%;
  padding: 0rem 2rem;
}
main section.view1 .container .top .text h1 {
  font-size: 2.8rem;
}
main section.view1 .container .bottom {
  padding: 5rem 0rem;
}
main section.view1 .container .bottom p {
  font-size: 2.1rem;
  line-height: 2.5rem;
}
main section.view2 {
  width: 100%;
  padding: 4.5rem 1.5rem;
}
main section.view2 .container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3.5rem;
}
main section.view2 .container .block {
  width: 100%;
  border-top: 4px solid rgba(0, 0, 0, 0.107);
  padding: 1.5rem 3.2rem 0rem 0rem;
}
main section.view2 .container .block h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
main section.view2 .container .block p {
  opacity: 0.8;
  font-size: 1.5rem;
  margin-bottom: 4.4rem;
}
main section.view2 .container .block img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-width: 4rem;
  max-width: 37.5rem;
}
main section.view3 {
  width: 100%;
  padding: 1.5rem;
}
main section.view3 .container {
  display: grid;
  grid-template-rows: 1.5fr 1.2fr;
}
main section.view3 .container .top img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-width: 11.5rem;
  max-width: 37.5rem;
}
main section.view3 .container .bottom h4 {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  opacity: 0.8;
}
main section.view3 .container .bottom h3 {
  font-size: 2.9rem;
  margin-bottom: 2rem;
}
main section.view3 .container .bottom p {
  font-size: 1.2rem;
  opacity: 0.8;
  width: 90%;
  margin-bottom: 1.5rem;
}
main section.view3 .container .bottom .navigate {
  width: 100%;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.7rem 1.5rem;
  background-color: transparent;
  color: #0468D7;
  border: 1px solid #0468D7;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 0.9rem;
  display: inline-block;
  transition: all ease 0.3s;
}

.btn.quiet {
  padding: 0.7rem 1.2rem;
  border: none;
  color: black;
}

.btn-transition:hover {
  background-color: #0468D7;
  color: white;
}

.container {
  max-width: 1250px;
}

@media (min-width: 490px) {
  main section.view1 {
    padding: 1.5rem 2rem;
  }
  main section.view1 .text {
    padding: 0rem 2.5rem;
  }
  main section.view1 .bottom p {
    margin-top: 1rem;
  }
  main section.view3 .container .bottom .navigate {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  main section.view1 {
    padding: 3.5rem;
  }
  main section.view1 .container .top {
    flex-direction: row-reverse;
    text-align: left;
    justify-content: center;
    gap: 0rem;
  }
  main section.view1 .container .top .text h1 {
    font-size: 4.4rem;
  }
  main section.view1 .container .bottom {
    padding: 5rem 15%;
  }
  main section.view2 {
    padding: 4.5rem 2rem;
  }
  main section.view2 .container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    justify-self: center;
  }
  main section.view2 .container .block p {
    font-size: 1.2rem;
  }
  main section.view3 {
    padding: 4rem;
  }
  main section.view3 .container {
    grid-template-rows: none;
    grid-template-columns: 1.6fr 1fr;
    grid-template-areas: "bottom top";
    align-items: center;
  }
  main section.view3 .bottom {
    grid-area: bottom;
    padding: 0rem 8.5rem 0rem 3.2rem;
  }
  main section.view3 .top {
    grid-area: top;
    justify-self: center;
  }
}/*# sourceMappingURL=style.css.map */