@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

main{
    section.view1{
        width: 100%;
        padding: 1.5rem;
        @include flex-column();
        text-align: center;
        background: linear-gradient(to top right,#f8bbd0a8,transparent,#e7f8ff);
        .container{
            width: 100%;
            @include flex-column();
            justify-content: center;
            .top{
                @include flex-column(4.4rem);
                width: 100%;
    
                .image{
                    width: 100%;
                    img{
                        width: 100%;
                        min-width: 15.6rem;
                        max-width: 37.5rem;
                    }
                }
                .text{
                    width: 100%;
                    h1{
                        font-size: 2.8rem;
                    }
                }
    
            }
            
            .bottom{
                padding: 5rem 0rem;
                p{
                    font-size: 2.1rem;
                    line-height: 2.5rem;
                }
            }
        }

    }

    section.view2{
        width: 100%;
        padding: 4.5rem 1.5rem;
        .container{
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 3.5rem;

            .block{
                width: 100%;
                border-top: 4px solid rgba(0, 0, 0, 0.107);
                padding: 1.5rem 3.2rem 0rem 0rem;
                h3{
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem;
                }
                p{
                    opacity: 0.8;
                    font-size: 1.5rem;
                    margin-bottom: 4.4rem;
                }
                img{
                    width: 100%;
                    min-height: 1rem;
                    max-width: 37.5rem;
                }
            }

        }
    }
}

.container{
    max-width: 1250px;
}

@media (min-width: 768px){
    main{
        section.view1{
            padding: 1.5rem 2rem;
            .text{
                padding: 0rem 13rem;
            }
            .bottom p{
                margin-top: 1rem;
            }
        }

    }
}

@media(min-width: 1000px){
    main{
        section.view1{
            padding: 3.5rem;
            .container{
                .top{
                    flex-direction: row-reverse;
                    text-align: left;
                    .text {
                        padding-left: 3.1rem;
                        h1{
                            font-size: 4.5rem;
                
                       }
                    }
                }
                .bottom{
                    padding: 5rem 19%;
                
                }
            }
        }
        
        section.view2{
            padding: 4.5rem 2rem;
            .container{
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 2rem;
                justify-self: center;
                .block p{
                    font-size: 1.2rem;
                }
            }

        }
    
    }
}
